.business-nav {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background-color: #0073bb;
}

.business-nav-container {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 1120px;
}

.search-bar-nav {
  display: flex;
  height: 36px;
  margin: 0 auto;
  width: 700px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
}

.search-container span {
  background-color: white;
  padding: 5px;
  /* font-family: sans-serif; */
  font-size: 14px;
}

.search-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  color: #8b8b8b;
}

.business-right-nav a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  /* font-family: sans-serif; */
  font-weight: 700;
  margin: 0 5px 0 5px;
}

.btn-search-submit {
  height: 36px;
  background-color: #004875;
  color: white;
  border: none;
}

#bus-signup-btn {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 13px;
}

#bus-signup-btn:hover {
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}

#bus-login-btn {
  border: 1px solid #004875;
  border-radius: 5px;
  font-size: 13px;
}

#bus-login-btn:hover {
  background-color: #004875;
  border-bottom: none;
}

.dropdown-content-container {
  display: none;
  position: absolute;
  min-width: 150px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
  right: 0;
  border-radius: 2px;
}

.dropdown-logout-container {
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.dropdown-logout {
  margin-right: 59%;
  padding-top: 10px;
  cursor: pointer;
  /* font-family: sans-serif; */
}

.dropdown-logout:hover {
  font-weight: bold;
}

.show {
  display: block;
}

.user-dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.dropdown-arrow::after {
  position: relative;
  content: " ";
  left: 96px;
  bottom: 37px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #f1f1f1;
}

.dropdown-arrow {
  height: 0;
}

.dropdown-content {
  color: #0073bb;
  margin-top: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  border-radius: 2px;
}

.dropdown-user-container {
  display: flex;
}

.user-content-container {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
  /* font-family: sans-serif; */
  justify-content: center;
}

.btn-user-dropdown {
  background: transparent;
  border: none;
  color: white;
  opacity: 80%;
  cursor: pointer;
}

.business-nav-logo img {
  width: 100px;
}

.business-nav-logo a {
  color: white;
  font-size: 20px;
  margin-right: 15px;
}

.business-right-nav {
  display: flex;
  margin-left: 30px;
  /* min-width: 200px; */
  font-size: 13px;
  justify-content: center;
}
