html {
  color: #333333;
}
.business-page-container {
  display: flex;
  min-height: 550px;
  justify-content: center;
}

.business-price-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: fit-content;
}

.business-main-container {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.business-price-category li {
  margin: 0;
  padding: 5px;
}

.top-header h1 {
  margin: 0;
  font-size: 30px;
}

.top-header-title {
  display: flex;
  align-items: baseline;
}

.fa-check-circle {
  align-items: center;
  /* margin-top: 12px; */
  margin-left: 12px;
  margin-right: 6px;
  color: rgb(0, 172, 69);
}

.top-header {
  display: flex;
  justify-content: space-between;
  /* width: 960px; */
  padding-bottom: 20px;
  border-bottom: #e6e6e6 1px solid;
}

.business-address {
  display: flex;
}

.top-sub-header {
  /* width: 960px; */
  margin: 0 auto;
}

.top-header-right {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: #e6e6e6 1px solid;
}
.top-header-right a {
  background-color: #0073bb;
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 19px 8px 19px;
  border-radius: 3px;
  /* font-family: sans-serif; */
  margin-right: 10px;
}

.top-header-right a:hover {
  background-color: #00578d;
}

.business-review {
  display: flex;
  align-items: center;
}

.fa-star {
  margin-right: 8px;
}

.fa-circle {
  font-size: 3px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.material-icons {
  font-size: 14px;
}

.business-btns {
  display: flex;
  align-items: center;
}

.business-btns span {
  font-size: 14px;
  padding: 5px;
}
.business-btns button {
  background-color: #f7f7f7;
  display: flex;
  border-radius: none;
  border: 1px solid #ccc;
  color: #666;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  align-items: center;
  cursor: pointer;
}
.business-btns button:hover {
  background-color: #ffffff;
}

.map-container {
  border: 1px solid lightgray;
  width: 315px;
}

.business-location {
  width: 315px;
  height: 150px;
}
.business-info {
  text-align: left;
  padding: 0;
}

.business-info li {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0px;
}

.business-info .material-icons {
  margin: 0px 5px 0px 5px;
}

.business-main-container {
  display: flex;
  justify-content: center;
}
.business-main-content {
  padding: 20px 0px;
  min-height: 600px;
}

.business-side-container {
  width: 260px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  color: #333333;
}

ul.sidebar-list {
  padding: 0px;
  display: inline-block;
}
.sidebar-hours {
  margin: 0px 40px;
  width: 200px;
}

li.sidebar-hours-item {
  display: flex;
  margin-bottom: 3px;
  font-size: 14px;
  color: #333333;
}
li.sidebar-info-item {
  display: flex;
}

.sidebar-hours-day,
.sidebar-info-info {
  padding-right: 10px;
  font-weight: bold;
}

.sidebar-info-desc {
  padding-right: 10px;
}

.sidebar-sub-title {
  font-size: 16px;
  color: rgb(255, 217, 0);
  font-weight: bolder;
}
.business-photos-container ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  object-fit: cover;
}

.business-photos-container {
  display: flex;
  /* align-items: flex-end; */
}

.business-photos-container li {
  margin: 0px;
  height: 275px;
  width: 100%;
  margin: 5px;
}
.business-photos {
  width: 100%;
  height: 275px;
  margin: 5px;
  object-fit: cover;
}

.top-sub-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: #e6e6e6 1px solid;
}

.business-sticky {
  position: sticky;
  width: 260px;
  border: 1px solid #eeeeef;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.business-sticky ul {
  margin: 0px;
}

.business-sticky ul li {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: #eeeeef 1px solid;

  padding: 15px 10px;
  margin: 0;
}

.business-sticky ul li:last-child {
  border-bottom: none;
}

.business-sticky .material-icons {
  font-size: 20px;
  color: #666666;
}

.business-sticky ul li a {
  margin-left: 10px;
}

.business-left {
  display: block;
  width: 600px;
  padding-right: 20px;
}
