.business-index-container {
  display: flex;
  width: 960px;
  margin: 0 auto;
  min-height: 500px;
}

ul.business-index-content {
  width: 100%;
  /* background-color: gray; */
  padding-left: 0px;
  margin: 10px;
  height: 100%;
}

li.business-index-item:first-child {
  border-top: #dddddd 1px solid;
}
.business-index-side {
  display: flex;
  margin-top: 15px;
  width: 400px;
  height: 400px;
}

.business-index-item {
  display: flex;
  height: 268px;
  border-bottom: #dddddd 1px solid;
  margin: 0px;
  padding: 18px 0 18px 0;
  box-sizing: border-box;
}

.business-address {
  text-align: right;
  font-size: 14px;
}

div.business-img img {
  width: 212px;
  height: 212px;
  object-fit: cover;
}

.business-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.business-name {
  font-size: 16px;
  /* font-family: sans-serif; */
  font-weight: bold;
}
.business-name a {
  font-size: 16px;
  /* font-family: sans-serif; */
  font-weight: bold;
}
.business-name a:hover {
  font-size: 16px;
  /* font-family: sans-serif; */
  font-weight: bold;
}

.business-rating {
  margin-top: 10px;
  display: flex;
  align-content: center;
  font-size: 14px;
  color: #666666;
}

ul.business-price-category {
  display: flex;
  align-items: center;
}

.fa-circle {
  margin-top: 15px;
  font-size: 5px;
}

ul.business-price-category li {
  padding: 0px 2px;
}

.business-address ul {
  padding: 0;
  width: 150px;
}
