.home-page-search-container {
  height: 150px;
  display: flex;
  align-items: center;
}
.home-search-bar-nav {
  display: flex;
  height: 36px;
  width: 60%;
  min-width: 500px;
  height: 48px;
  margin: 0 auto;
}

.home-query-container {
  display: flex;
  align-items: center;
  background-color: white;
  width: 70%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.home-location-container {
  display: flex;
  align-items: center;
  background-color: white;
  width: 70%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.home-query-container span {
  background-color: white;
  padding: 5px;
  /* font-family: sans-serif; */
  font-size: 18px;
  font-weight: bold;
}

.home-query-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  color: black;
}
.home-location-container span {
  background-color: white;
  padding: 5px;
  /* font-family: sans-serif; */
  font-size: 18px;
  font-weight: bold;
}

.home-location-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  color: black;
}

.home-btn-search-submit {
  height: 48px;
  width: 48px;
  background-color: #004875;
  color: white;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.homepage-logo {
  width: 300px;
  margin: 0 auto;
  opacity: 80%;
}

.home-content-container {
  margin: 0 auto;
  align-content: center;
  text-align: center;
  align-items: center;
  padding-top: 70px;
}

.discover-text {
  text-align: center;
  color: #323232;
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0px;
}
