.full-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.full-name :first-child {
  margin-right: 4px;
}

.session-form-container {
  /* padding-top: 50px; */
  /* position: relative; */
  width: 100%;
  display: flex;
  align-items: center;
  height: 550px;
  justify-content: center;
  /* font-family: sans-serif; */
  overflow: hidden;
  padding: 0 0 50px 0;
}

.session-form-top {
  display: flex;
  width: 100%;
  background-color: #0073bb;
  color: white;
  font-size: 40px;
  height: 70px;
  /* font-family: sans-serif; */
  justify-content: center;
  align-items: center;
  /* margin-bottom: 60px; */
}

.text-input {
  width: 100%;
  height: 30px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 2px 0;
  padding: 3px;
}

.session-form-img {
  display: flex;
  margin: 50px;
}

.session-form {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-right: 50px;
}

.form-btn {
  width: 300px;
  background-color: rgb(201, 2, 2);
  color: white;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

#box-6 {
  display: flex;
  margin: 5px 0px 5px 0px;
}

#birth {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}

.birthday,
.day,
.month,
.year {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  width: 100%;
  margin: 2px;
  box-sizing: border-box;
  background-color: white;
}

.form-btn {
  margin: 5px 0px 5px 0px;
}

.demo-btn {
  display: flex;
  width: 300px;
  background-color: #0073bb;
  color: white;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
}

.hr-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px 0 10px 0;
  color: #a2a2a2;
}

hr {
  width: 130px;
  border: 0.5px solid #dddddd;
}

.errors-container {
  display: flex;
  background-color: #fcd6d3;
  color: red;
  /* height: 45px; */
  border-radius: 5px;
  justify-content: space-between;
}

.fa-times {
  color: rgb(255, 94, 94);
}

.error-icon {
  display: flex;
  position: relative;
  right: 0;
  padding-top: 7px;
  padding-right: 8px;
}
