.sub-nav-container {
  height: 40px;
  width: 100%;
  background-color: rgb(248, 248, 248);
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: sans-serif; */
  font-size: 14px;
}

.sub-nav-content {
  width: 960px;
  display: flex;
  height: 100%;
  align-items: center;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  justify-content: space-between;
}

.sub-nav-content a {
  display: flex;
  height: 40px;
  text-decoration: none;
  /* font-family: sans-serif; */
  font-size: 14px;
  color: #333333;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.sub-nav-content a:hover {
  color: #0073bb;
  border-bottom: 1px solid #0073bb;
}

.sub-nav-content a span {
  /* font-family: sans-serif; */
  font-size: 14px;
}

.sub-nav-left {
  display: flex;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.sub-nav-businesses {
  justify-content: space-evenly;
}

.sub-nav-sites {
  justify-content: space-evenly;
}

.sub-nav-left li {
  display: flex;
  align-items: center;
  margin: 0;
  height: 40px;
  width: 120px;
  border-right: 1px solid lightgray;
  text-align: center;
  justify-content: space-evenly;
}

.sub-nav-left li:hover {
  background-color: rgb(245, 245, 245);
  color: #0073bb;
}

.sub-nav-left li a {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

li.sub-nav-left:first-child {
  border-left: 1px solid lightgray;
}

.sub-nav-review {
  display: flex;
  align-items: center;
  width: 140px;
  justify-content: space-evenly;
  border-left: 1px solid lightgray;
}

.sub-nav-review li a {
  display: flex;
  align-items: center;
  height: 40px;
}

.sub-nav-sites {
  position: relative;
  display: inline-block;
}

.sub-nav-sites .price-popup {
  visibility: hidden;
  width: 120px;
  background-color: rgb(248, 248, 248);
  color: #333333;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 0px;
  opacity: 0;
  box-shadow: 1px 1px 1px #888888;
}

.sub-nav-sites:hover .price-popup {
  visibility: visible;
  opacity: 1;
}

.price-popup li {
  cursor: pointer;
}

.sub-nav-contact {
  position: relative;
  display: inline-block;
}

.sub-nav-contact .contact-popup {
  visibility: hidden;
  width: 120px;
  background-color: rgb(248, 248, 248);
  color: #333333;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 0px;
  opacity: 0;
  box-shadow: 1px 1px 1px #888888;
}

.sub-nav-contact:hover .contact-popup {
  visibility: visible;
  opacity: 1;
}

.contact-popup li:hover,
.price-popup li:hover {
  color: #0073bb;
}
